<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0196" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.5.1-ci1224" targetFramework="net461" />
  <package id="Newtonsoft.Json.Net20.dll" version="3.5.0" targetFramework="net461" />
</packages>